<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.mnbase" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".activity.BaseApplication"
        >

        <meta-data android:name="design_width" android:value="480" />
        <meta-data android:name="design_height" android:value="800" />

        <activity
            android:name=".test.LooperTestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SwipeBack1Activity" android:theme="@style/translucent" />
        <activity android:name=".activity.SwipeBack2Activity" android:theme="@style/translucent" />
        <activity android:name=".activity.SwipeBack3Activity" android:theme="@style/translucent" />
        <activity android:name=".activity.SwipeBack4Activity" android:theme="@style/translucent" />

        <activity android:name="com.andview.example.activity.CustomViewActivity" />
        <activity android:name="com.andview.example.activity.GridViewActivity" />
        <activity android:name="com.andview.example.activity.ListViewActivity" />
        <activity android:name="com.andview.example.activity.WebViewActivity" />
        <activity android:name="com.andview.example.activity.RecyclerViewActivity" />
        <activity android:name="com.andview.example.activity.ScrollViewActivity" />
        <activity android:name="com.andview.example.activity.HeadAdActivity" />
        <activity android:name="com.andview.example.activity.RainDropActivity" />

        <activity android:name=".activity.MyCrashActivity" />
        <activity android:name=".crash.ui.CrashActivity" />
        <activity android:name=".activity.TestCrashActivity1" />

    </application>

</manifest>
